html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 10px 5px;
  margin: 15px 20px;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
}

.content {
  overflow: auto;
  flex-grow: 1;
  padding-bottom: 100px;
}

.title {
  font-size: 25px;
  color: #333;
}

.subtitle {
  margin: 5px 0;
  color: #999;
}

.section {
  margin: 5px 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #eee;
}

.section-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.section-link {
  display: block;
  color: #3b3bd2;
  line-height: 1.5;
  font-size: 18px;
}

.diagram-container {
  max-width: 400px;
  margin: 0 auto 10px;
}

.diagram {
  width: 100%;
  overflow: auto;
}

.key {
  display: block;
  color: #3a3a3a;
  margin: 5px;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
}

.comments {
  padding: 0 25px 50px;
  max-width: 700px;
  margin: auto;
}

.comments::before {
  content: " ";
  height: 75px;
  display: block;
  margin-bottom: 25px;
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
  opacity: 0.1;
}

.page {
  padding: 0 25px 25px;
  max-width: 700px;
  margin: auto;
}

.page-paragaph {
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 17px;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #a09fb3;
  z-index: 2;
  width: 100%;
  border-top: 1px solid #eee;
}

.page-button {
  cursor: pointer;
  padding: 20px 0;
  background: #f9f9f9;
  border: 1px solid #666;
  width: 25vw;
  max-width: 200px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
