html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 10px 5px;
  margin: 15px 20px;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
}

.content {
  overflow: auto;
  flex-grow: 1;
}

.title {
  font-size: 25px;
  color: #333;
}

.subtitle {
  margin: 5px 0;
  color: #999;
}

.section {
  margin: 5px 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #eee;
}

.section-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.section-link {
  display: block;
  color: #3b3bd2;
  line-height: 1.5;
  font-size: 18px;
}

.diagram {
  width: 100%;
  overflow: auto;
}

.key {
  display: block;
  color: #4848b7;
  margin: 0 25px 25px;
  text-decoration: none;
  font-size: 13px;
}

.comments {
  margin: 25px 25px 100px;
  padding: 25px;
  border-top: 100px solid #eee;
}

.page {
  margin: 0 25px 25px;
}

.page-paragaph {
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 17px;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #a09fb3;
  z-index: 2;
  width: 100%;
  border-top: 1px solid #eee;
}

.page-button {
  cursor: pointer;
  padding: 20px 0;
  background: #f9f9f9;
  border: 1px solid #666;
  min-width: 25vw;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
