body {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  padding: 10px 5px;
  margin: 15px 20px 0px;
  border-bottom: 1px solid #eee;
}

.title {
  font-size: 25px;
  color: #333;
}

.subtitle {
  margin: 5px 0;
  color: #999;
}

.section {
  margin: 5px 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #eee;
}

.section-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.section-link {
  display: block;
  color: #3b3bd2;
  line-height: 1.5;
  font-size: 18px;
}

.back {
  display: block;
  color: #4848b7;
  margin: 15px 25px 0;
  text-decoration: none;
}

.diagram {
  margin: 25px;
  width: calc(100% - 50px);
  overflow: auto;
}

.key {
  display: block;
  color: #4848b7;
  margin: 0 25px 25px;
  text-decoration: none;
  font-size: 13px;
}

.comments {
  margin: 25px;
  padding: 25px;
  border-top: 1px solid #eee;
}
